<html>
<body>
<title>Test website</title>
<link href="{{ asset('css/styles.css') }}" rel="stylesheet" />

<h1>This is a test website</h1>
<div class="center">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    {% block error %}{% endblock %}
</div>

<script src="{{ asset('js/signup.js') }}"></script>
</body>
</html>
